.currency_symbol {
  font-weight:normal;
}

.logo {
  width:100px;
  height:100px;
  //background:image-url('logo.png') no-repeat top center;
  background-size:cover;
}

.masthead {
  //background:image-url('masthead.jpg') no-repeat top center;
  height:600px;
  border-bottom:1px solid #ccc;

  h1 {
    display:block;
    margin:0px auto;
    max-width:990px;
    padding:20px 0px 0px 0px;
    color:$primary-color;
    text-align:center;
    font-size:44px;
  }
  h2 {
    margin: 20px auto;
    max-width:990px;
    text-align:center;
    a {
      color:#666;
      text-decoration:underline;
      &:hover {
        color:$primary-color;
      };
    }
  }
}

section {
  margin-bottom: rem-calc(30px);
  padding-bottom: rem-calc(30px);
  border-bottom:1px solid #CCC;
  padding-left:rem-calc(15px);
  padding-right:rem-calc(15px);
  position:relative;
  z-index: 10;

  &.buttons {
    border:0 none;

    .send_money_now {
      margin-right:rem-calc(10px);
    }
  }

}


.sidebar {
  padding-top:rem-calc(20px);

  .panel {
    border:1px solid #CCC;
  }
}//.sidebar

.panel .panel-heading .intro {
  width:100%;
  min-width:260px;
  max-width:360px;
  margin:0 auto;
  p {
    font-family: 'Roboto Condensed';
  }
  .intro-snippet-group {
    margin: 0 auto;
    width:235px;
    overflow:hidden;
  }
  p.intro-snippet {
    color: $primary-color;
  }
  p.intro-first {
    margin-bottom:10px;
    letter-spacing:-1px;
    font-size:rem-calc(23px);
    text-align:center;
  }
  p.intro-everyday {
    text-align:center;
    clear:both;
    font-size:rem-calc(40px);
    margin-top:-20px;
    color: $primary-color;
  }
  p.intro-btc {
    line-height:0.9;
    padding:0px;
    margin:0px;
    float:left;
    font-size:rem-calc(18px);
    color: $primary-color;
    max-width:80px;
  }
  p.intro-amount {
    @extend .primary_fontstack;
    float:left;
    color: $success-color;
    font-weight:bold;
    font-size:rem-calc(132px);
    line-height:0.9;
    margin:0px 4px 0px -4px;
  }
  p.intro-pesos {
    @extend .primary_fontstack;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size:rem-calc(40px);
    color: $success-background-color;
    border-bottom:5px solid lighten($success-background-color,10%);
    float:left;
    margin: 5px 0px 4px 0px;
    padding:4px 0px;
    line-height:0.9;
  }
}

.panel {
  .avatar {
    width:80px;
    height:auto;
    margin-right:10px;
    padding:3px;
    border:1px solid #ccc;
  }
  .user-well {
    overflow:hidden;
    margin-bottom:20px;
    font-size:rem-calc(16px);
    line-height:1.3;
    p {
      margin:0px;
      padding:0px;
    }
  }
}

@media (max-width:480px) {
  .panel .panel-heading .intro {
    p.intro-first {
      font-size:rem-calc(8px);
    }
    p.intro-everyday {
      font-size: rem-calc(14px);
    }
    .intro-snippet-group {
      width:300px;
      p.intro-amount {
        font-size: rem-calc(60px);
        letter-spacing: rem-calc(-5px);
        margin-right: rem-calc(5px);
      }
      p.intro-pesos {
        font-size: rem-calc(14px);
      }
      p.intro-btc {
        font-size: rem-calc(8px);
        max-width: 100px;
      }
    }
  }
  .panel .user-well p {
    font-size: rem-calc(9px);
  }
  .sidebar .panel .btn.btn-huge.btn-success {
    font-size:rem-calc(8px);
  }
}

@media (min-width:1200px) {
  .intro {
    .intro-first {
      font-size:rem-calc(28px) !important;
    }
    .intro-everyday {
      font-size: rem-calc(50px) !important;
    }
    .intro-snippet-group {
      width:280px !important;
      .intro-amount {
        font-size: rem-calc(160px) !important;
      }
      .intro-pesos {
        font-size: rem-calc(48px) !important;
      }
      .intro-btc {
        font-size: rem-calc(21px) !important;
        margin-top:7px !important;
        max-width: 100px !important;
      }
    }
  }
}

.landing-panel {
  &.affix {
    top:10px;
  }
  .btn.btn-large {
    font-size: rem-calc(20px);
  }

  @media (min-width:$screen-md-min + 200) {
    .btn.btn-large {
      font-size: rem-calc(24px);
    }
  }
}

@media (max-width:720px) {
  .main h1 {
    font-size:rem-calc(13px);
  }
  .main h2 {
    font-size:rem-calc(11px);
  }
  .main {
    h1, h2 {
      small {
        display:block;
      }
    }
  }
  .btn-lg {
    font-size:rem-calc(10px);
  }
  .sidebar .panel {
    .btn-huge {
      font-size:rem-calc(10px);
    }
    .or {
      font-size:rem-calc(8px);
    }
    .panel-nav {
      .btn-primary, .btn-info, .btn-default {
        font-size:rem-calc(7px) !important;
      }
    }
  }
  footer {
    font-size:rem-calc(8px);
  }
}
