.photos {
  margin-top:20px;
  padding-left:0px;
  list-style-type:none;
  overflow:hidden;
  .position {
    display:none;
  }
  &.photos_with_position .position {
    display:block;
  }
  .photo {
    float:left;
    width:32%;
    margin-right:1%;
    img {
      width:100%;
      height:auto;
    }
    .caption {
      font-size:13px;
      padding:5px;
      p {
        padding-bottom:0px;
        margin-bottom:0px;
        &.author {
          color:$primary-color;
          a {
            @extend .primary_fontstack;
            font-size:16px;
          }
        }
        &.likes {
          padding-top:5px;
        }
        &.position {
          background-color:#999;
          padding:5px;
          margin:5px -5px -5px 0px;
          color:#fff;
          @extend .body_fontstack;
          font-size:16px;
          &.leader {
            background-color:#900;
          }
          &.top_5 {
            background-color:#f30;
          }
          &.top_10 {
            background-color:#f90;
          }
        }
      }
    }
    .thumbnail {
      margin-bottom:5px;
      &.more_selfies{
        a { 
          @extend .primary_fontstack;
          font-size:30px;
          display:block;
          padding:50% 20px;
          text-align:center;
        }
      }
    }
    .thumbnail:hover{
      border-color:#999;
      border-right:4px solid #999;
      border-bottom:4px solid #999;
    }
  }
}

.thumbnail.thumbnail-winner {
  border:1px solid #f60;
  &:hover {
    border-color:#f60;
    border-right:4px solid #f60;
    border-bottom:4px solid #f60;
  }
}

.standalone-image {
  margin-top:20px;
  .likes_and_views p {
    font-size:20px;
    line-height:1;
    .created_at {
      font-size:13px;
    }
  }
  p.position {
    font-size:14px;
    font-style:italic;
  }
  .heart-container {
    margin-right:10px;
    a {
      display:block;
      cursor:pointer;
      font-size:28px;
      &:hover {
        .glyphicon-heart {
          color:#610;
        }
      };
    }
    .glyphicon-heart {
      color:#aaa;
      font-size:32px;
      padding-right:10px;
      &.liked {
        color:#fff;
      }
    }
  }
  .next-photo {
    font-size:28px;
    line-height:42px;
    font-weight:normal;
  }
  .winner {
    line-height:60px;
    img {
      margin-right:5px;
    }
    strong {
      font-size:28px;
      color:#c30;
    }
  }
}

.navbar-standalone-image {
  .navbar-btn {
    float:left;
    padding-left:40px;
    padding-right:40px;
    font-size:18px;
  }
  .form-group {
    margin-right:15px;
  }
}

.select_photo {
  .glyphicon {
    position:absolute;
    z-index:2;
    top:3px;
    right:17px;
    padding:3px;
    display:none;
    color: #390;
    background-color:#9c6;
    @include border-radius(3px);
  }
  &.selected, &.already_entered {
    .glyphicon {
      display:block;
    }
    border-color:#390;
    background-color:#9c6;
  }
}

.thumbnail > a {
  display:block;
}

.select_photos_header.affix {
  background:#fff;
  z-index:2;
  width:100%;
  top:0px;
}

.panel-heading p {
  margin-top:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  line-height:1.2;
  &.small {
    font-size:12px;
    line-height:1;
    color:#888;
  }
}
.panel-title {
  font-size:24px;
}

.panel .charity-info {
  margin:15px 0px;
  padding:5px 8px 10px 8px;
  background-color:#ffc;
  h3 {
    font-size:18px;
  }
  p {
    font-size:14px;
    &.small {
      font-size:12px;
      line-height:1;
      color:#888;
    }
  }
}

.panel.tip-form-panel {
  .panel-heading {
    padding-bottom:0px;
  }
  .panel-body {
    padding:0px 15px 15px 15px;
  }
  .sorry {
    margin:10px 0px;
    font-size:16px;
    line-height:1.4;
    color:#999;
  }
}