.photos {
  margin-top:20px;
  padding-left:0px;
  list-style-type:none;
  overflow:hidden;
  .position {
    display:none;
  }
  &.photos_with_position .position {
    display:block;
  }
  .photo {
    float:left;
    width:32%;
    margin-right:1%;
    img {
      width:100%;
      height:auto;
    }
    .author {
      line-height:24px;
      margin-bottom:3px;
      .avatar {
        width:24px;
        height:24px;
        margin-right:5px;
        background-size:cover;
        border:1px solid #ccc;
        @include border-radius(12px);
      }
      a {
        font-size:rem-calc(14px);
        font-weight:bold;
      }
    }
    .likes {
      background:transparent !important;
      .glyphicon, .like_count {
        font-size:rem-calc(16px);
        font-weight:bold;
        &.liked {
          color:#ff4136;
        }
      }
      &.btn-danger {
        .glyphicon, .like_count {
          color:#ff4136 !important;
        }
        .btn-default {
          color:#fff;
          background-color: #ff4136;
          border-color: #ff291c;
        }
      }
    }
    .btn-xs {
      font-size:rem-calc(13px);
      font-weight:normal;
      padding:2px 12px;
    }
    .caption {
      font-size:13px;
      padding:5px;
      p {
        padding-bottom:0px;
        margin-bottom:0px;
        &.author {
          color:$link-color;
          a {
            @extend .body_fontstack;
            font-size:16px;
          }
        }
        &.date {
          display:none;
        }
        &.likes {
          padding-top:5px;
        }
        &.position {
          background-color:#999;
          padding:5px;
          margin:0px -5px -5px 0px;
          color:#fff;
          @extend .body_fontstack;
          font-size:16px;
          &.leader {
            background-color:#900;
          }
          &.top_5 {
            background-color:#f30;
          }
          &.top_10 {
            background-color:#f90;
          }
        }
      }
    }
    .thumbnail {
      margin-bottom:5px;
      &:hover {
        border-right:4px solid #999;
        border-bottom:4px solid #999;  
      }
    }
  }

  &.winning_photos {
    .caption .date {
      display:block;
    }
  }
}

.thumbnail, .panel {
  border-color:#ccc;
  &:hover {
    border-color:#999;
  }
}

.thumbnail.thumbnail-winner {
  border:1px solid $primary-color;
  &:hover {
    border-color:#f60;
    border-right:4px solid #f60;
    border-bottom:4px solid #f60;
  }
}

.standalone-image {
  margin-top:20px;
  .thumbnail .img-responsive {
    width:100%;
    height:auto;
  }
  .likes_and_views p {
    font-size:rem-calc(20px);
    line-height:1;
    .created_at {
      font-size:rem-calc(13px);
    }
  }
  p.position {
    font-size:rem-calc(14px);
    font-style:italic;
  }
  .heart-container {
    margin-right:10px;
    a {
      display:block;
      cursor:pointer;
      font-size:rem-calc(24px);
      &.heart {
        padding:9px 16px;
        span.heart-label {
          line-height:1.5;
        }
      }
      &:hover {
        .glyphicon-heart {
          color:#610;
        }
      };
    }
    .glyphicon-heart {
      color:#aaa;
      font-size:rem-calc(32px);
      padding-right:10px;
      &.liked {
        color:#fff;
      }
    }
  }
  .avatar {
    width:50px;
    height:50px;
    margin-right:10px;
    background-size:cover;
    @include border-radius(25px);
  }
  .next-photo {
    font-size:rem-calc(28px);
    line-height:32px;
    font-weight:normal;
  }
  .winner {
    line-height:60px;
    img {
      margin-right:5px;
    }
    strong {
      font-size:rem-calc(28px);
      color:#c30;
    }
  }
  .caption {
    background:#e1e1e1;
  }
}

.navbar-standalone-image {
  .navbar-btn {
    float:left;
    padding-left:40px;
    padding-right:40px;
    font-size:rem-calc(18px);
  }
  .form-group {
    margin-right:15px;
  }
}

@media (min-width:480px) {
  .navbar-standalone-image {
    display:none;
  }
}

.select_photo {
  .glyphicon {
    position:absolute;
    z-index:2;
    top:3px;
    right:17px;
    padding:3px;
    display:none;
    color: #390;
    background-color:#9c6;
    @include border-radius(3px);
  }
  &.selected, &.already_entered {
    .glyphicon {
      display:block;
    }
    border-color:#390;
    background-color:#9c6;
  }
}

.thumbnail > a {
  display:block;
}

.select_photos_header.affix {
  z-index:3;
  width:100%;
  top:0px;
  .jumbotron {
    padding: 12px 60px;
    h1 {
      font-size:rem-calc(36px);
    }
    p {
      font-size:rem-calc(16px);
    }
    .btn-lg {
      margin-top:10px;
    }
  }
}

.panel-heading p {
  margin-top:5px;
  margin-bottom:0px;
  padding-bottom:0px;
  line-height:1.2;
  &.small {
    font-size:12px;
    line-height:1;
    color:#888;
  }
}
.panel-title {
  font-size:24px;
}

.panel .charity-info {
  margin:15px 0px;
  padding:5px 8px 10px 8px;
  background-color:#ffc;
  h3 {
    font-size:18px;
  }
  p {
    font-size:14px;
    &.small {
      font-size:12px;
      line-height:1;
      color:#888;
    }
  }
}

.panel.tip-form-panel {
  .panel-heading {
    padding-bottom:0px;
  }
  .panel-body {
    padding:0px 15px 15px 15px;
  }
  .sorry {
    margin:10px 0px;
    font-size:16px;
    line-height:1.4;
    color:#999;
  }
}

.ineligible {
  font-size:13px;
  line-height:1.2;
}

.social_buttons {
  li {
    float:left;
    width:24%;
    margin-right:1%;
  }
}

.date-nav {
  overflow:hidden;
  padding:0px 2% !important;
  li {
    float:left;
    width:25%;
    &.date-current {
      width:46%;
    }
  }
}

@media (max-width:640px) {
  .jumbotron {
    padding:10px 15px;
    margin-bottom:10px;
  }
  .photos .photo {
    width:99%;
    .author {
      margin-bottom:6px;
      a {
        font-size:rem-calc(9px) !important;
      }
      font-size:rem-calc(9px) !important;
    }
    .likes {
      line-height:1;
      .glyphicon, .like_count, .heart-label {
        font-size:rem-calc(8px) !important;
      }
      .heart.btn-xs {
        line-height:1;
        padding-top:rem-calc(2px);
        padding-bottom:rem-calc(2px);
        font-size:rem-calc(8px) !important
      }
    }
    .position {
      font-size:rem-calc(9px) !important;
    }
  }
  .select_photos_header {
    h1 {
      margin:0px;
      padding:0px;
      font-size:rem-calc(11px) !important;
    }
    p {
      font-size:rem-calc(8px) !important;
      padding-bottom:0px;
      margin-bottom:0px;
    }
    .pull-right {
      float:none;
      width:100%;
      #submit_btn {
        font-size:rem-calc(8px) !important;
        width:100%;
        margin-top:0px;
      }
    }
  }
  .select_photos_header.affix {
    .standalone-container {
      margin-top:0px;
    }
    .jumbotron {
      padding:10px 15px;
      h1 {
        display:none;
      }
    }
  }
  .navbar-standalone-image {
    label, .btn {
      font-size:rem-calc(9px);
    }
    .form-group {
      line-height:1;
    }
    p {
      margin-bottom:0px;
      padding-bottom:5px;
    }
  }
  .caption {
    p {
      font-size:rem-calc(8px);
    }
  }
  .panel {
    font-size:rem-calc(9px);
    .panel-heading p {
      font-size:rem-calc(9px);
    }
  }
  .standalone-image {
    .heart-container {
      .btn-lg {
        font-size:rem-calc(11px);
        line-height:1;
        span {
          font-size:rem-calc(11px);
        }
      }
    }
    .caption {
      font-size:rem-calc(8px) !important;
    }
    .avatar {
      width:50px;
      height:50px;
      margin-right:10px;
      background-size:cover;
      @include border-radius(25px);
    }
    .btn, .photo-stats, .submitted, .text-center, .converter, h4, table th, table td, p.position {
      font-size:rem-calc(8px);
    }
    p {
      padding-bottom:5px;
      margin-bottom:10px;
    }
  }
}

@media (max-width:720px) {
  .date-nav {
    .date-prev, .date-next {
      h3 {
        font-size:rem-calc(7px);  
      }
    }
  }
  .tip-amount-label, #tip_amount_in_btc {
    float:left;
  }
  .tip-amount-label {
    width:15%;
    font-size:rem-calc(14px);
    line-height:rem-calc(24px);
  }
  .converter {
    line-height:1.1;
    padding-bottom:0px;
    margin-bottom:15px;
  }
  #tip_amount_in_btc {
    width:80%;
    font-size:rem-calc(14px);
    height:rem-calc(28px);
    line-height:1.1;
    padding:5px;
  }
  #tip_message {
    font-size:rem-calc(9px);
    height:rem-calc(50px);
  }
}

@media (min-width:481px) and (max-width:960px) {
  .photos .photo {
    width:49%;
  }
  .standalone-image .heart-container {
    a, span.glyphicon-heart {
      font-size:rem-calc(20px);
      line-height:36px;
      &.next-photo {
        line-height:22px;
      }
    }
  }
  .select_photos_header {
    p {
      font-size:rem-calc(14px);
      padding-bottom:0px;
      margin-bottom:0px;
    }
    #submit_btn {
      font-size:rem-calc(16px);
      margin-top:0px;
    }
  }
  .select_photos_header.affix {
    .jumbotron {
      padding:10px 15px;
    }
  }
}

@media (max-width:960px) {
  #invoice {
    padding:0px;
    h1 {
      font-size:rem-calc(12px);
    }
    p, label {
      font-size:rem-calc(8px);
      line-height:1.1;
      padding-bottom:5px;
      margin-bottom:5px;
    }
    #invoice_address {
      max-width:280px;
      height:120px;
      font-size:rem-calc(10px);
    }
    .modal-body {
      padding:2px;
    }
  }
}

// #fbcomments, .fb_iframe_widget, .fb_iframe_widget > span, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style] {
//   width: 100% !important;
// }