//give input forms inner shadow, rounded corners
input,
.text {
  width: 100%;
  border:1px solid #CCC;
  padding:rem-calc(2px);
  font-size: rem-calc(18px);
  line-height: 1.6;
}

input[type="checkbox"],
input[type="radio"] {
  width:rem-calc(14px);
  height:rem-calc(14px);
  margin-top:rem-calc(7px);
  margin-right:rem-calc(5px);
}

select {
  // @include appearance(none);
  // @include border-radius(3px);
  @extend .text;
  cursor:pointer;
  //@include background-size(rem-calc(15px) auto);
  //@include background(image-url('forms/arrow-down.png') no-repeat 100% 50%, linear-gradient(#FFF, #CCC));
  text-shadow: 1px 1px #FFF;
  padding-left:rem-calc(15px);
}

.tip-form {
  margin-top:20px;
  .form-control {
    margin-right:2px;
  }
  .control-label {
    margin-right:5px;
  }
  textarea {
    width:95% !important;
    height:50px;
    margin-bottom:10px;
  }
  .btn {
    padding:16px 25px 25px 25px;
    font-size:24px;
  }
}

#invoice.modal .modal-lg {
  //min-width:360px;
  max-width:600px;
  #invoice_address{
    width:100%;
    max-width:400px;
  }
}

div.tips-table-container {
  padding:15px 5px 5px 5px;
  border:1px solid #bbb;
  border-bottom:4px solid #bbb;
  @include border-radius(3px);
  margin-bottom:50px;
  background:#fff;
}

ul.tips {
  width:100%;
  li {
    border-bottom:1px solid #ddd;
    padding-bottom:15px;
    margin-bottom:15px;
    font-size:rem-calc(14px);
    dl {
      overflow:hidden;
      margin-bottom:0px;
      dt {
        width:15%;
        margin-right:5%;
        text-align:right;
        float:left;
        small {
          font-size:rem-calc(13px);
        }
      }
      dd {
        width:70%;
        float:left;
        font-size:rem-calc(16px);
        margin-bottom:5px;
        font-weight:normal;
        &.amount {
          font-weight:bold;
        }
      }
    }
    
  }
  &.received_tips .to_user { display:none; }
  &.sent_tips .from_user { display:none; }
}

@media (max-width:960px) {
  ul.tips li {
    dl {
      margin-bottom:5px;
      padding-left:10px;
      dt, dd {
        text-align:left;
        float:none; 
        display:block;
        width:100%;  
        font-size:rem-calc(10px);
      }
      dt {
        font-size:rem-calc(8px);
      }
    }
  }
}

.control-label-left {
  text-align:left !important;
}
.form-group.disabled {
  opacity:0.5;
}

.charity-information {
  margin:10px;
  p {
    margin-bottom:0px;
  }
}

.row.login-row {
  margin:50px 0px;
}