html, body {
  font-size:$main-font-size;
  font-weight:300;
  background: #f8f8f8;
  @include fontstack('body');
  color:#666;

  &.page-static_pages  {
    background-image:none;
    background-color:#fff;  
    header#branding {
      //background: image-url('background.jpg') no-repeat top center;
      background-size:cover;
    }
  }

  //  FOR MOBILE
  @media (max-device-width:$screen-sm-max)  {
    font-size:40px;
    font-weight:500;
  }
  //  FOR MOBILE
}

h1,
.h1 {
  font-size: rem-calc(36px);
  font-family:"Tungsten-Semibold";
}

h2,
.h2 {
  font-size: rem-calc(30px);
  font-family:"Tungsten-Semibold";
}

h3,
.h3 {
  font-size: rem-calc(24px);
  font-family:"Tungsten-Semibold";
}

h4,
.h4 {
  font-size: rem-calc(18px);
}

h5,
.h5 {
  font-size: rem-calc(14px);
}

h6,
.h6 {
  font-size: rem-calc(12px);
}

h1,h2,h3,h4,h5,h6 {
  @include fontstack('primary',300);
  color:#444;
}

h3,h4,h5,h6 {
  @extend .body_fontstack;
}

p {
  padding-bottom:rem-calc(16px);
}

.default-font {
  font-family: "Helvetica", "sans-serif" !important;
}

.page-header {
  border:0 none;
}

b,strong {
  font-weight:400;
}

// HEADER
#branding {
  border:0px;
  background:image-url('bg_masthead.jpg') center center repeat-y;
  @include border-radius(0px);
  color:#fff;

  .navbar-brand {
    margin: 0 10px 0 0;
    padding:5px 0px 0px 0px;
    height:auto;
    width:120px;
    font-size: rem-calc(28px);
  }
  
  .navbar {
    border-width:0px;
    min-height:40px;
  }

  .navbar-info {
    background-color:transparent;
    margin-top:12px;
    ul {
      list-style-type:none;
      li {
        float:left;
        margin-right:30px;
        a {
          color:#fff;
          font-size:rem-calc(16px);
        }
        .dropdown-menu {
          //background: #cc9bce;
          background:$secondary-color;
          border:1px solid darken($secondary-color,10%);
          //border-top:0px;
          padding-bottom:10px;
          margin-top:16px;
          @include border-radius(0px);
          li a {
            color:#fff;
            &:hover {
              text-decoration: underline;
            };
          }  
        }
      }
    }
  }

  h1.logo {
    float:left;
    margin:0px 10px 0px 0px;
    width:120px;
    height:35px;
    background:image-url('logo_on_dark.png');
    background-size:cover;
    text-indent:-4000px;
  }

  .tagline {
    color:rgba(255,255,255,0.7);
    margin:13px 0px 0px 0px;
    float:left;
    display:block;
    font-size: rem-calc(16px);
    font-family: "Open Sans";
    font-weight:300;
    font-style:italic;
  }
}

.navbar {
  margin-bottom:0px;

  &.main-nav {
    text-align: center;
    float: none;
    width: 100%;

    li {
      float: none
    }
  }

  @media (min-width:$screen-md-min) {
    &.main-nav {
      float: right;
      width:auto;
    }
  }
}

.user-earnings-nav {
  li {
    margin-bottom:15px;
  }
  p.hint {
    margin:5px 10px 10px 5px;
    line-height:1.1;
  }
}

.modal-dialog {
  background:#fff;
  @include border-radius(5px);
}

#invoice {
  border:1px solid #ccc;
  padding:20px;
  margin: 0 auto;
  .modal-body {
    text-align:center;
    img {
      margin: 0 auto 10px;
      border:1px solid $primary-color;
    }
  }
}

label {
  font-weight:normal;
}

.panel {
  h1,h2,h3,h4 {
    margin:10px 0px 0px 0px;
    &.panel-heading {
      padding-bottom:5px;
    }
  }
  table.table {
    th {
      padding:10px 10px 10px 15px;
      font-weight:normal;
    } 
    td { 
      padding:10px; 
      font-weight:bold;
    }
  }
}

table.table.invoice {
  margin-bottom:0px;
  .label_recipient_name, .label_service_fee, .label_total {
    font-weight:normal;
    font-size:14px;
    width:25%;
  }
  .label_service_fee {
    padding-top:15px;
  }
  .confirm_recipient_amount, .confirm_service_fee, .total_amount {
    font-size:24px;
  }
  th {
    text-align: right;
    &.label_service_fee, &.label_total {
      padding-top:15px;
    }
  }
}

.panel.rates {
  padding:0px 20px;
  h3 {
    padding-left:0px;
    margin-bottom:0px;
  }
  small {
    margin-bottom:20px;
    display:block;
  }
  table.table {
    border-top:1px solid #ccc;
    margin-bottom:10px;
    th, td {
      font-size:14px;
      padding:5px 5px 5px 15px;
    }
    th {
      text-align:right;
    }
  }
}

dl {
  dt {
    font-weight:normal;
    color:#999;
  }
  dd {
    font-weight:bold;
  }
}

footer {
  background-color:#ccb;
  font-size:rem-calc(13px);
  padding-top:rem-calc(20px);
  ul{
    list-style-type:none;
    overflow:hidden;
    margin:0px;
    padding:0px;
    li {
      float:left;
      margin-right:rem-calc(10px);
    } 
  } 
}

.logo-sci {
  width: 103px;
  height: 45px;
  background: image-url('sci-logo-color.png');
  text-indent: -9999px;
  border-radius: 3px;
  margin-top: 0px;
  &:hover {
    background-position: -103px 0;
  }
}

img.flag {
  margin-right:10px;
}

.social {
  list-style-type:none;
  margin:0px 10px;
  padding:0px;
  li {
    margin-bottom:20px;
  }
}

.how_it_works_container {
  padding:30px 0px;
}

.btn {
  font-family: 'Roboto Condensed';
}

.btn.btn-huge {
  font-size:22px;
}

.panel-nav {
  list-style-type:none;
  margin:20px 0px 0px 0px;
  padding:0px;
  li {
    margin-bottom:10px;
    .btn-lg {
      font-size:18px;
    }
  }
}

.container.standalone-container {
  margin-top:20px;
}

.nav {
  .navbar-text {
    margin-top:7px;
    font-size:22px;
  }
}

.user-nav {
  .navbar-right {
    margin-top:15px;
    margin-bottom:0px;
  }
  .request_withdrawal_funds {
    color:#fff !important;
    &:hover {
      background-color: #219524 !important;
    }
  }
}

.landing-panel {
  .or {
    font-size:rem-calc(24px);
    font-weight:bold;
    margin:0px;
    padding:0px;
  }
}

.social_buttons .pinterest a {
  margin-bottom:-45px;
}

ol,ul {
  &.nolist {
    list-style-type:none;
    margin:0px;
    padding:0px;
  }
}

.navbar.navbar-default-admin {
  background:#f70;
  color:#fff;
  height:auto;
  min-height:40px;
  padding:5px 0px;
  p {
    margin:0px;
    padding:0px;
    a {
      color:#fc0;
    }
  }
}

ul,ol {
  &.admin-tools {
    border:1px solid #f70;
    padding:5px 15px;
    margin-bottom:20px;
    display:block;
    li {
      font-size:13px;
      line-height:24px;
    }
  }
}

.disqualified {
  color:#900;
}

.jumbotron {
  border-color:#ccb;
  overflow:hidden;
  .btn-lg {
    font-size:rem-calc(28px);
  }
  #submit_btn {
    margin-top:30px;
  }
}


@media (max-width:480px) {
  #branding {
    .navbar-brand {
      float:none!important;
    }
    .navbar-header {
      padding:10px 0px 0px 0px;
      margin:0px;
      width:100%;
      clear:both;
      //text-align:center;
    }
    h1.logo {
      width:150px;
      height:40px;
      //margin-left:70px;
      float:none!important;
    }
    .tagline {
      margin:0px 0px 0px 5px;
      font-size:rem-calc(10px);
      display:block;
      float:none!important;
      width:100%;
    }
    .main-nav.navbar-right {
      border-top:1px solid rgba(255,255,255,0.2);
      float:none!important;
      padding-bottom:10px;
      margin:0px 0px 20px 0px;
      ul {
        margin:5px 0px 10px 5px;
        &.dropdown-menu {
          left:auto;
          right:0px;  
        }
      }
      ul > li {
        font-size:rem-calc(8px);
        a {
          font-weight:normal;
        }
      }
    }
    .navbar-info ul li {
      margin-right:20px;
      &.dropdown {
        margin-right:0px;
      }
    }
  }
  footer {
    p {
      font-size:rem-calc(8px);
    }
    .logo-sci {
      margin-bottom:10px;
    }
  }
  p, label, th, td {
    font-size:rem-calc(8px);
  }
}


@media (min-width:481px) and (max-width:960px) {
  #branding {
    .navbar-header {
      margin-right:10px !important;
    }
    .navbar-brand {
      width:auto;
    }
    h1.logo {
      margin-left:0px;
      float:none!important;
    }
    .tagline {
      margin-top:15px;
      font-size:rem-calc(14px);
    }
    .main-nav.navbar-right {
      float:none!important;
      margin: 15px 0px 0px 0px;
      ul {
        margin:0px;
        li {
          font-size:rem-calc(14px);
        }
      } 
    }
  }
}
@media (max-width:640px) {
  h1 {
    font-size:rem-calc(22px);
  }
  h2, h3, h4 {
    font-size:rem-calc(16px);
    color:$primary-color;
  }
  p, label, th, td {
    font-size:rem-calc(10px);
  }
  .alert {
    font-size:rem-calc(9px);
    button {
      font-size:rem-calc(13px);
    }
  }
}


.development_status {
  z-index:100;
  position:absolute;
  top:0px;
  right:0px;
}