.faqs {
  .question {
    h4 {
      font-size:rem-calc(24px);
      font-weight:bold;
      color:$link-color;
    }
  }
  .answer {
    font-size:rem-calc(16px);
    margin-bottom:20px;
    p {
      font-weight:normal;
      margin-bottom:5px;
      padding-bottom:10px;
    }
  }
}

@media (max-width:720px) {
  .faqs {
    .question h4 {
      font-size:rem-calc(12px);
    }
    .answer p {
      font-size:rem-calc(8px);
    }
  }
}

.rules-nav {
  ul {
    list-style-type:none;
    padding-left:0px;
    margin-left:0px;
    li a {
      font-weight:400;
    }
  }
  &.affix {
    top:20px;
  }
}

.jumbotron-selfies {
  background:image-url('bg2.jpg');
  h1, p { 
    color:#fff; 
    text-shadow: 2px 2px 1px #123;
  }
  p { font-weight:bold; }
  a {
    color:#ffc;
  }
}