dl {
  dt {
    h4 {
      font-size:32px;
      font-weight:bold;
      color:$primary-color;
    }
  }
  dd {
    font-size:16px;
    font-weight:normal;
    margin-bottom:20px;
    p {
      margin-bottom:5px;
      padding-bottom:10px;
    }
  }
}

.rules-nav ul {
  list-style-type:none;
  padding-left:0px;
  margin-left:0px;
}

.jumbotron-selfies {
  background:image-url('bg.jpg');
  h1, p { 
    color:#222; 
    text-shadow: 2px 2px 1px #fff;
  }
  p { font-weight:bold; }
}