//FONT SIZING
$main-font-size: 16px;

@function rem-calc($value) {
  @return #{$value/$main-font-size}rem;
}

//BRANDING COLORS - DON'T PUT ACTUAL COLOR NAME AS VARIABLE NAME
$primary-color : #28356e;
$secondary-color: #90008c;
$tertiary-color: #158cba;
$highlight-color : lighten($secondary-color,30%);
$link-color: #28356e;
$screen-sm-max:768px;
$headline-color: #28b62c;
$emphasize-color: #00eb25;
$emphasize-shadow-color: #23a127;
$winner-color:#f30;
//FONT SELECTIONS
.primary_fontstack {
  font-family:'Squada One', Verdana, Tahoma, sans-serif;
}
.secondary_fontstack {
  @extend .primary_fontstack;
}
.body_fontstack {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
}

@mixin fontstack($value, $weight:true) {
  @extend .#{$value}_fontstack;

  @if ($weight == "normal") {
    font-weight:normal;
  }
  @if ($weight == "bold") {
    font-weight:bold;
  }
  @if ($weight == "600") {
    font-weight:600;
  }
  @if ($weight == "300") {
    font-weight:300;
  }
  @if ($weight == "italic") {
    font-style:italic;
  }
}